openapi: 3.1.0
info:
  title: crypto-signal-bot Cloudflare Action
  version: 1.1.0
  description: Cloudflare operational access for the crypto-signal-bot Worker, D1, R2, and KV resources. The system operates in paper mode by default and graduates to live mode only after verified performance criteria are met and the owner approves. Use queryD1Readonly in the Worker API action for SQL reads. Do not store, print, or use live exchange order-execution keys.
servers:
  - url: https://api.cloudflare.com/client/v4
components:
  securitySchemes:
    CloudflareBearer:
      type: http
      scheme: bearer
  schemas:
    D1QueryRequest:
      type: object
      required:
        - sql
      properties:
        sql:
          type: string
          description: SQL statement. Use SELECT only for readonly queries.
        params:
          type: array
          items:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: 'null'
      additionalProperties: false
    CloudflareEnvelope:
      type: object
      properties:
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
        messages:
          type: array
          items:
            type: object
            additionalProperties: true
        result:
          type: object
          additionalProperties: true
      additionalProperties: true
    CloudflareListEnvelope:
      type: object
      properties:
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
        result:
          type: array
          items:
            type: object
            additionalProperties: true
        result_info:
          type: object
          additionalProperties: true
      additionalProperties: true
security:
  - CloudflareBearer: []
paths:
  /accounts/{account_id}/d1/database/{database_id}/query:
    post:
      operationId: queryD1
      summary: Query Cloudflare D1 database
      description: Legacy direct Cloudflare API query. Prefer queryD1Readonly for GPT access. Only use SELECT statements. INSERT, UPDATE, DELETE, DROP, CREATE, and ALTER are prohibited and may cause irreversible data loss.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
        - name: database_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/D1QueryRequest"
      responses:
        "200":
          description: D1 query result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareEnvelope"
  /accounts/{account_id}/d1/database:
    get:
      operationId: listD1Databases
      summary: List D1 databases
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: D1 databases
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareListEnvelope"
  /accounts/{account_id}/r2/buckets:
    get:
      operationId: listR2Buckets
      summary: List R2 buckets
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: R2 buckets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareListEnvelope"
