openapi: 3.1.0
info:
  title: crypto-signal-bot Cloudflare Action
  version: 1.2.0
  description: >
    Cloudflare operational access for the crypto-signal-bot Worker, D1, and R2 resources.
    The system operates in paper mode by default and graduates to live mode only after
    verified performance criteria are met and the owner approves.
    Use queryD1Readonly (in the Worker API action) for SQL reads.
    Do not store, print, or use live exchange order-execution keys.
servers:
  - url: https://api.cloudflare.com/client/v4
components:
  securitySchemes:
    CloudflareBearer:
      type: http
      scheme: bearer
  schemas:
    CloudflareEnvelope:
      type: object
      properties:
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
        messages:
          type: array
          items:
            type: object
            additionalProperties: true
        result:
          type: object
          additionalProperties: true
      additionalProperties: true
    CloudflareListEnvelope:
      type: object
      properties:
        success:
          type: boolean
        errors:
          type: array
          items:
            type: object
            additionalProperties: true
        result:
          type: array
          items:
            type: object
            additionalProperties: true
        result_info:
          type: object
          additionalProperties: true
      additionalProperties: true
security:
  - CloudflareBearer: []
paths:
  /accounts/{account_id}/d1/database:
    get:
      operationId: listD1Databases
      summary: List D1 databases
      description: >
        Known database: crypto-signal-bot-db (ID: d647c639-845a-414e-9bb4-513e42ef4451).
        Use queryD1Readonly in the Worker API action for actual SQL queries.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: D1 databases
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareListEnvelope"
  /accounts/{account_id}/r2/buckets:
    get:
      operationId: listR2Buckets
      summary: List R2 buckets
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: R2 buckets
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloudflareListEnvelope"
