openapi: 3.1.0
info:
  title: CryptoOps Agent GitHub API
  description: GitHub API access for support371/crypto-signal-bot. Use placeholders only. Never write real secrets.
  version: 1.0.0
servers:
  - url: https://api.github.com
security:
  - githubBearerAuth: []
paths:
  /repos/support371/crypto-signal-bot/contents/{path}:
    get:
      operationId: getFileContents
      summary: Get repository file contents
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: main
      responses:
        "200":
          description: File or directory contents
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          description: File not found

    put:
      operationId: writeFile
      summary: Create or update a repository file
      description: Content must be base64 encoded. sha is required when updating an existing file. Branch is required; never write directly to main.
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
                - content
                - branch
              properties:
                message:
                  type: string
                content:
                  type: string
                  description: Base64 encoded file content.
                sha:
                  type: string
                  description: Required when updating an existing file.
                branch:
                  type: string
                  description: Target branch. REQUIRED — never write directly to main. Use a feature branch name such as feat/your-change.
      responses:
        "200":
          description: File updated
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "201":
          description: File created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "409":
          description: Conflict, usually missing or stale sha

  /repos/support371/crypto-signal-bot/issues:
    get:
      operationId: listIssues
      summary: List repository issues
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum:
              - open
              - closed
              - all
            default: open
        - name: labels
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Issues
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true

    post:
      operationId: createIssue
      summary: Create repository issue
      description: Do not include real secrets, tokens, or live exchange API keys in issue text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                body:
                  type: string
                labels:
                  type: array
                  items:
                    type: string
                assignees:
                  type: array
                  items:
                    type: string
      responses:
        "201":
          description: Issue created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /repos/support371/crypto-signal-bot/pulls:
    get:
      operationId: listPullRequests
      summary: List pull requests
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum:
              - open
              - closed
              - all
            default: open
        - name: base
          in: query
          required: false
          schema:
            type: string
        - name: head
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        "200":
          description: Pull requests
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true

  /repos/support371/crypto-signal-bot/actions/runs:
    get:
      operationId: listWorkflowRuns
      summary: List workflow runs
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        "200":
          description: Workflow runs
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /repos/support371/crypto-signal-bot/commits:
    get:
      operationId: listCommits
      summary: List commits
      parameters:
        - name: sha
          in: query
          required: false
          schema:
            type: string
        - name: path
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        "200":
          description: Commits
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true

components:
  securitySchemes:
    githubBearerAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Use the value Bearer <GITHUB_TOKEN>.
