openapi: 3.1.0
info:
  title: CryptoOps Agent GitHub API
  description: GitHub API access for support371/crypto-signal-bot. Use placeholders only. Never write real secrets.
  version: 1.1.1
servers:
  - url: https://api.github.com
security:
  - githubBearerAuth: []
paths:
  /repos/support371/crypto-signal-bot/contents/{path}:
    get:
      operationId: getFileContents
      summary: Get repository file contents
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
            default: main
      responses:
        "200":
          description: File or directory contents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileContentResponse"
        "404":
          description: File not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitHubErrorResponse"
    put:
      operationId: writeFile
      summary: Create or update a repository file
      description: Content must be base64 encoded. sha is required when updating an existing file. Branch is required; never write directly to main.
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WriteFileRequest"
      responses:
        "200":
          description: File updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileWriteResponse"
        "201":
          description: File created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileWriteResponse"
        "409":
          description: Conflict, usually missing or stale sha
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitHubErrorResponse"
  /repos/support371/crypto-signal-bot/issues:
    get:
      operationId: listIssues
      summary: List repository issues
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, closed, all]
            default: open
        - name: labels
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
      responses:
        "200":
          description: Issues
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/IssueResponse"
    post:
      operationId: createIssue
      summary: Create repository issue
      description: Do not include real secrets, tokens, or live exchange API keys in issue text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIssueRequest"
      responses:
        "201":
          description: Issue created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueResponse"
  /repos/support371/crypto-signal-bot/pulls:
    get:
      operationId: listPullRequests
      summary: List pull requests
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, closed, all]
            default: open
        - name: base
          in: query
          required: false
          schema:
            type: string
        - name: head
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        "200":
          description: Pull requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PullRequestResponse"
    post:
      operationId: createPullRequest
      summary: Open a pull request
      description: Always target main as the base. Never merge directly — open a PR for review.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePullRequestRequest"
      responses:
        "201":
          description: Pull request created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullRequestResponse"
  /repos/support371/crypto-signal-bot/actions/runs:
    get:
      operationId: listWorkflowRuns
      summary: List workflow runs
      parameters:
        - name: branch
          in: query
          required: false
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        "200":
          description: Workflow runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRunsResponse"
  /repos/support371/crypto-signal-bot/git/refs:
    post:
      operationId: createBranch
      summary: Create a new branch from a given SHA or existing ref
      description: Use this to create feature branches before writing files. Always branch from main. Never create branches named main or master.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBranchRequest"
      responses:
        "201":
          description: Branch created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitRefResponse"
  /repos/support371/crypto-signal-bot/actions/workflows/{workflow_id}/dispatches:
    post:
      operationId: triggerWorkflowDispatch
      summary: Trigger a GitHub Actions workflow run on a specific branch
      parameters:
        - name: workflow_id
          in: path
          required: true
          schema:
            type: string
            description: Workflow file name, e.g. ci.yml
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkflowDispatchRequest"
      responses:
        "204":
          description: Workflow dispatch accepted
  /repos/support371/crypto-signal-bot/commits:
    get:
      operationId: listCommits
      summary: List commits
      parameters:
        - name: sha
          in: query
          required: false
          schema:
            type: string
        - name: path
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 30
      responses:
        "200":
          description: Commits
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CommitResponse"
components:
  securitySchemes:
    githubBearerAuth:
      type: http
      scheme: bearer
      description: Use a GitHub token with only the minimum permissions needed.
  schemas:
    GitHubErrorResponse:
      type: object
      properties:
        message:
          type: string
        documentation_url:
          type: string
        status:
          type: string
      additionalProperties: true
    FileContentResponse:
      type: object
      properties:
        type:
          type: string
        encoding:
          type: string
        size:
          type: integer
        name:
          type: string
        path:
          type: string
        content:
          type: string
        sha:
          type: string
        url:
          type: string
        html_url:
          type: string
        download_url:
          type: string
      additionalProperties: true
    WriteFileRequest:
      type: object
      required:
        - message
        - content
        - branch
      properties:
        message:
          type: string
        content:
          type: string
          description: Base64 encoded file content.
        sha:
          type: string
          description: Required when updating an existing file.
        branch:
          type: string
          description: Target branch. Required. Never use main.
      additionalProperties: false
    FileWriteResponse:
      type: object
      properties:
        content:
          $ref: "#/components/schemas/FileContentResponse"
        commit:
          $ref: "#/components/schemas/CommitResponse"
      additionalProperties: true
    CreateIssueRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
        body:
          type: string
        labels:
          type: array
          items:
            type: string
        assignees:
          type: array
          items:
            type: string
      additionalProperties: false
    IssueResponse:
      type: object
      properties:
        id:
          type: integer
        number:
          type: integer
        title:
          type: string
        body:
          type: string
        state:
          type: string
        html_url:
          type: string
        labels:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              color:
                type: string
            additionalProperties: true
      additionalProperties: true
    CreatePullRequestRequest:
      type: object
      required:
        - title
        - head
        - base
      properties:
        title:
          type: string
        head:
          type: string
          description: The branch to merge from.
        base:
          type: string
          description: The branch to merge into. Use main.
        body:
          type: string
        draft:
          type: boolean
          default: false
      additionalProperties: false
    PullRequestResponse:
      type: object
      properties:
        id:
          type: integer
        number:
          type: integer
        title:
          type: string
        body:
          type: string
        state:
          type: string
        merged:
          type: boolean
        draft:
          type: boolean
        html_url:
          type: string
        head:
          type: object
          properties:
            ref:
              type: string
            sha:
              type: string
          additionalProperties: true
        base:
          type: object
          properties:
            ref:
              type: string
            sha:
              type: string
          additionalProperties: true
      additionalProperties: true
    WorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            $ref: "#/components/schemas/WorkflowRunResponse"
      additionalProperties: true
    WorkflowRunResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        head_branch:
          type: string
        head_sha:
          type: string
        status:
          type: string
        conclusion:
          type: string
        html_url:
          type: string
        event:
          type: string
      additionalProperties: true
    CreateBranchRequest:
      type: object
      required:
        - ref
        - sha
      properties:
        ref:
          type: string
          description: Full ref name, e.g. refs/heads/feat/my-branch.
        sha:
          type: string
          description: Commit SHA to branch from.
      additionalProperties: false
    GitRefResponse:
      type: object
      properties:
        ref:
          type: string
        node_id:
          type: string
        url:
          type: string
        object:
          type: object
          properties:
            type:
              type: string
            sha:
              type: string
            url:
              type: string
          additionalProperties: true
      additionalProperties: true
    WorkflowDispatchRequest:
      type: object
      required:
        - ref
      properties:
        ref:
          type: string
          description: Branch name to run the workflow on.
        inputs:
          type: object
          properties:
            deploy_worker:
              type: string
            update_vercel:
              type: string
            reason:
              type: string
          additionalProperties: true
      additionalProperties: false
    CommitResponse:
      type: object
      properties:
        sha:
          type: string
        node_id:
          type: string
        html_url:
          type: string
        url:
          type: string
        commit:
          type: object
          properties:
            message:
              type: string
            author:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                date:
                  type: string
              additionalProperties: true
          additionalProperties: true
      additionalProperties: true
