openapi: 3.1.0
info:
  title: crypto-signal-bot GitHub Action
  version: 1.0.1
  description: GitHub access for support371/crypto-signal-bot. Before write or deploy operations, verify Worker health and paper-safety endpoints. Never commit secrets, live exchange keys, wallet private keys, or tokens.
servers:
  - url: https://api.github.com
components:
  securitySchemes:
    GitHubBearer:
      type: http
      scheme: bearer
  schemas:
    GitHubFileContent:
      type: object
      properties:
        name:
          type: string
        path:
          type: string
        sha:
          type: string
        size:
          type: integer
        encoding:
          type: string
        content:
          type: string
        download_url:
          type: string
      additionalProperties: true
    WriteFileRequest:
      type: object
      required:
        - message
        - content
      properties:
        message:
          type: string
          description: Commit message. Use fix(scope): description format when possible.
        content:
          type: string
          description: Base64 encoded file content.
        sha:
          type: string
          description: Existing file SHA when updating a file.
        branch:
          type: string
          description: Target branch. Prefer a feature branch for broad changes.
      additionalProperties: false
    GitHubWriteResponse:
      type: object
      properties:
        content:
          type: object
          additionalProperties: true
        commit:
          type: object
          properties:
            sha:
              type: string
            html_url:
              type: string
          additionalProperties: true
      additionalProperties: true
    WorkflowRunsResponse:
      type: object
      properties:
        total_count:
          type: integer
        workflow_runs:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              status:
                type: string
              conclusion:
                type: string
              html_url:
                type: string
            additionalProperties: true
      additionalProperties: true
    CommitListResponse:
      type: array
      items:
        type: object
        properties:
          sha:
            type: string
          html_url:
            type: string
          commit:
            type: object
            additionalProperties: true
        additionalProperties: true
    IssueListResponse:
      type: array
      items:
        type: object
        properties:
          number:
            type: integer
          title:
            type: string
          state:
            type: string
          html_url:
            type: string
        additionalProperties: true
    CreateIssueRequest:
      type: object
      required:
        - title
      properties:
        title:
          type: string
        body:
          type: string
        labels:
          type: array
          items:
            type: string
      additionalProperties: false
    PullRequestListResponse:
      type: array
      items:
        type: object
        properties:
          number:
            type: integer
          title:
            type: string
          state:
            type: string
          html_url:
            type: string
          head:
            type: object
            additionalProperties: true
          base:
            type: object
            additionalProperties: true
        additionalProperties: true
security:
  - GitHubBearer: []
paths:
  /repos/support371/crypto-signal-bot/contents/{path}:
    get:
      operationId: getFileContents
      summary: Get a file from support371/crypto-signal-bot
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
        - name: ref
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: File contents
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitHubFileContent"
    put:
      operationId: writeFile
      summary: Create or update a file
      description: Never commit secrets, live exchange keys, wallet private keys, seed phrases, or tokens. Prefer branch plus PR for broad changes.
      parameters:
        - name: path
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WriteFileRequest"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitHubWriteResponse"
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitHubWriteResponse"
  /repos/support371/crypto-signal-bot/actions/runs:
    get:
      operationId: listWorkflowRuns
      summary: List GitHub Actions workflow runs
      parameters:
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 30
        - name: branch
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Workflow runs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowRunsResponse"
  /repos/support371/crypto-signal-bot/commits:
    get:
      operationId: listCommits
      summary: List commits
      parameters:
        - name: sha
          in: query
          required: false
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Commits
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommitListResponse"
  /repos/support371/crypto-signal-bot/issues:
    get:
      operationId: listIssues
      summary: List issues
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, closed, all]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Issues
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IssueListResponse"
    post:
      operationId: createIssue
      summary: Create an issue
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIssueRequest"
      responses:
        "201":
          description: Issue created
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                  title:
                    type: string
                  html_url:
                    type: string
                additionalProperties: true
  /repos/support371/crypto-signal-bot/pulls:
    get:
      operationId: listPullRequests
      summary: List pull requests
      parameters:
        - name: state
          in: query
          required: false
          schema:
            type: string
            enum: [open, closed, all]
        - name: per_page
          in: query
          required: false
          schema:
            type: integer
            default: 30
      responses:
        "200":
          description: Pull requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PullRequestListResponse"
