openapi: 3.1.0
info:
  title: Render Deploy Action
  version: 1.0.1
  description: >
    Render API access for triggering and monitoring backend service deployments.
    Always call listRenderServices first to confirm the service ID before triggering a deploy.
    Never modify environment variables that could enable live trading without owner approval.
servers:
  - url: https://api.render.com/v1
    description: Render API
security:
  - RenderBearer: []
paths:
  /services:
    get:
      operationId: listRenderServices
      summary: List Render services to find the backend service ID
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        "200":
          description: Services list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServicesListResponse"
  /services/{serviceId}/deploys:
    get:
      operationId: listRenderDeploys
      summary: List recent deploys for a service
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
      responses:
        "200":
          description: Deploy list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeploysListResponse"
    post:
      operationId: triggerRenderDeploy
      summary: Trigger a new deploy for a Render service
      description: >
        Use after merging a PR to main to redeploy the FastAPI backend.
        Always verify the service is the correct backend by calling listRenderServices first.
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TriggerRenderDeployRequest"
      responses:
        "201":
          description: Deploy triggered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployResponse"
  /services/{serviceId}/deploys/{deployId}:
    get:
      operationId: getRenderDeployStatus
      summary: Get status of a specific deploy
      parameters:
        - name: serviceId
          in: path
          required: true
          schema:
            type: string
        - name: deployId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Deploy status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeployResponse"
components:
  securitySchemes:
    RenderBearer:
      type: http
      scheme: bearer
      description: Use your Render API key. The Authorization header will be sent as Bearer <RENDER_API_KEY>.
  schemas:
    ServicesListResponse:
      type: object
      properties:
        services:
          type: array
          items:
            $ref: "#/components/schemas/ServiceResponse"
        cursor:
          type: string
        hasMore:
          type: boolean
      additionalProperties: true
    ServiceResponse:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        serviceDetails:
          type: object
          properties:
            url:
              type: string
            buildCommand:
              type: string
            startCommand:
              type: string
            env:
              type: string
          additionalProperties: true
        branch:
          type: string
        repo:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
      additionalProperties: true
    DeploysListResponse:
      type: object
      properties:
        deploys:
          type: array
          items:
            $ref: "#/components/schemas/DeployResponse"
        cursor:
          type: string
        hasMore:
          type: boolean
      additionalProperties: true
    TriggerRenderDeployRequest:
      type: object
      properties:
        clearCache:
          type: string
          enum:
            - clear
            - do_not_clear
          default: do_not_clear
      additionalProperties: false
    DeployResponse:
      type: object
      properties:
        id:
          type: string
        commit:
          type: object
          properties:
            id:
              type: string
            message:
              type: string
            createdAt:
              type: string
          additionalProperties: true
        status:
          type: string
        trigger:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        finishedAt:
          type: string
        serviceId:
          type: string
        service:
          $ref: "#/components/schemas/ServiceResponse"
      additionalProperties: true
